html {
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*, ::before, ::after {
	box-sizing: inherit;
	margin: 0; 
	padding: 0;
}

body {
	font-family: monospace !important;;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

header {
	position: fixed;
	width: 100%;
}

header li a {
	text-transform: capitalize;
}

section.wr-intro {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .7);
}